---
import Layout from "@layouts/Layout.astro";
import { Image } from 'astro:assets';
import profileImage from '../assets/profile-image.jpeg';
import Button from "@components/Button.astro";
import Card from "@components/Card.astro";
import SpaceBackground from "@components/SpaceBackground.astro";
import { resumeURL } from "src/utils/path";

const experience = [
    { company: 'O\'Reilly Auto Parts', role: 'Full-Stack Developer', duration: 'May 2024 - Present' },
    { company: 'Luxoft Mexico', role: 'Full-Stack Developer', duration: 'Jun 2022 - Mar 2024' },
    { company: 'IBM México', role: 'System Administrator', duration: '2020 - 2021' },
];

const projects = [
    { title: 'Location Indoor for schools', description: '', file: '', url: '', },
    { title: 'Centro GEO', description: '', file: '', url: '', },
    { title: 'GitHub', description: '', file: '', url: '', },
];

const certifications = [
    { company: 'Red Hat', title: 'RED HAT CERTIFIED SPECIALIST IN CONTAINERS AND KUBERNETES', expedition: 'April 2022'  },
    { company: 'Microsoft', title: 'Microsoft Certified: Azure Fundamentals', expedition: 'June 2021'  },
    { company: 'Linux Professional Institute (LPI)', title: 'Linux Professional Institute Linux Essentials', expedition: 'March 2021'  },
    { company: 'Amazon Web Service (AWS)', title: 'AWS Certified Cloud Practitioner', expedition: 'December 2020'  },
];

const contactInfo = [
    { property: 'Email', value: 'diegomai1995@hotmail.com', href: 'mailto:diegomai1995@hotmail.com' },
    { property: 'Linkedin', value: 'Jose Diego Marin Contreras', href: 'https://www.linkedin.com/in/jose-diego-marin-contreras/' },
    { property: 'GitHub', value: 'JoseDiegoMarinContreras', href: 'http://github.com/JoseDiegoMarinContreras' },
];

const cv = resumeURL('CV.pdf');
---
<Layout title="Jose Diego Marin Contreras">
    <div>
        <header>
        <ul>
            <li onclick="location.href='/resume';"><a>Home</a></li>
            <li id="nav-item-about"><a>About</a></li>
            <li id="nav-item-experience"><a>Experience</a></li>
            <li id="nav-item-projects"><a>Projects</a></li>
            <li id="nav-item-certifications"><a>Certifications</a></li>
            <li id="nav-item-contact"><a>Contact</a></li>
        </ul>
    </header>

    <SpaceBackground />

    <main class="pt-5">
        <div class="content">
            <div class="flex items-center justify-center">
            <Image class="rounded-full" alt="Profile Photo" src={profileImage} width={200} />

            <div class="pl-5">
                <h1>Jose Diego Marin Contreras</h1>

                <h2>Full-Satck Developer</h2>

                <h3>Software Engineer</h3>

                <div class="flex flex-row">
                    <Button href={cv} download="CV">Download CV</Button>

                    <Button type="secondary">Contact Me</Button>
                </div>
            </div>
            </div>

        <div id="about" class="personal-profile">
            <h2>About</h2>
            
            <Card>
                <h3>Personal Profile</h3>

                <p>
                    I am Jose Diego, a fullstack Developer with 5 years of experience in the TI sector.
                    Currently I’m at Luxoft. as a service developer In this role, I am involved in
                    fullstack development, utilizing my expertise in backend technologies, such as NestJS,
                    Node.js, and TypeScript. I follow Agile methodologies to ensure efficient project management.
                    My responsibilities include analyzing algorithms, developing microservices, and working with
                    monorepos and Bitbucket for version control. Additionally, I have experience in frontend
                    development using React and React Native, both with TypeScript. In my previous position at a
                    Nayarit government dependency, I specialized in designing, coding, and implementing stand-alone
                    web applications. I successfully resolved bottlenecks and improved system performance.
                    Furthermore, I collaborated closely with the infrastructure team to handle deployments
                    effectively.
                </p>
            </Card>
        </div>

        <div id="experience" class="experience">
            <h2>Experience</h2>

            {
                experience.map(item => (
                    <div class="my-5">
                        <Card>
                        <div class="flex flex-col">
                            <div class="flex flex-row mb-3">
                                { item.company }

                                <span class="ml-auto">{ item.duration }</span>
                            </div>

                            { item.role }
                        </div>
                    </Card>
                    </div>
                ))
            }
            </div>

        <div id="projects" class="projects">
            <h2>Projects</h2>
            {
                projects.map(item => (
                    <div class="my-5">
                        <Card>
                            <h4>{ item.title }</h4>

                            <p>{ item.description }</p>
                        </Card>
                    </div>
                ))
            }
        </div>

        <div id="certifications" class="certifications">
            <h2>Certifications</h2>
            {
                certifications.map(item => (
                    <div class="my-5">
                        <Card>
                        <div class="flex flex-col">
                            <div class="flex flex-row mb-3">
                                { item.company }

                                <span class="ml-auto">{ item.expedition }</span>
                            </div>

                            { item.title }
                        </div>
                    </Card>
                    </div>
                ))
            }
        </div>

        <div id="contact" class="contact my-5">
            <h2>Contact</h2>
            
            <Card>
                {
                    contactInfo.map(item => (
                        <p><strong>{item.property}: </strong><a target="_blank" href={item.href}>{item.value}</a></p>
                    ))
                }
            </Card>
        </div>
        </div>
    </main>
    </div>
</Layout>

<script>
    let activeSection = {
        sectionId: '',
        intersectionRation: 0,
    };

    const observer = new IntersectionObserver(entries => {
        const section = entries.filter(entry => {
            if(!entry.isIntersecting && entry.target.id === activeSection.sectionId) {
                activeSection.intersectionRation = 0;
            }
            return entry.isIntersecting;
        })
                               .sort((entryA, entryB) => entryA.intersectionRatio - entryB.intersectionRatio)
                                .at(0);

        if(!section || section.target.id === activeSection.sectionId || section.intersectionRatio < activeSection.intersectionRation) {
            return;
        }

        requestAnimationFrame(() => {
            document.getElementById(`nav-item-${activeSection.sectionId}`)?.classList.remove('active-section');
            activeSection = { sectionId: section.target.id, intersectionRation: section.intersectionRatio, };
            document.getElementById(`nav-item-${activeSection.sectionId}`)?.classList.add('active-section');
        });
    },{
        root: null,
        rootMargin: '-96px 0px 0px 0px',
        threshold: [0.5, 0.6, 0.7, 0.8, 0.9, 1],
    });

    const sections = ['about', 'experience', 'projects', 'certifications', 'contact'];
    sections.forEach(section => {
        const el = document.getElementById(section);
        el && observer.observe(el);
    });

    sections.forEach(section => {
        document.getElementById(`nav-item-${section}`)?.addEventListener('click', () => {
            const top = document.getElementById(section)?.getBoundingClientRect().top!;
            console.log(100, top, window.scrollY, 100 - top + window.scrollY);
            window.scrollTo({ 
                top: top - 100 + window.scrollY, 
                behavior: "smooth" 
            });
        });
    });
</script>

<style>
    header {
        position: sticky;
        top: 0;
        background-color: #0F111A;
        display: flex;
        justify-content: center;
        z-index: 9999;

        ul {
            display: flex;
            flex-direction: row;
            width: 80%;

            li {
                flex-grow: 1;
                font-size: 1.25rem;
                text-align: center; 
                padding: 2rem;
                font-weight: 600;
                cursor: pointer;
            }

            li.active-section {
                background-color: var(--primary);
            }

            li:hover {
                background-color: var(--primary);
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;

        .content {
            max-width: 75vw;

            .personal-profile {
                margin-top: 4rem;
            }
        }
    }
</style>
